* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
	font-family: 'Poppins', sans-serif;
}

html {
	font-family: 'Poppins', sans-serif;
}


.header {
   background-color: #158a8a;
}
.container {
   max-width: 1152px;
   margin: 0 auto;
}

.navbar {
   display: flex;
   align-items: center;
   height: 55px;
}

.navbar button {
   background-color: transparent;
   border: none;
   color: white;
   cursor: pointer;
   margin-left: 30px;
}

.left-side {
   display: flex;
   align-items: center;
   margin-right: 170px;
}

.logo {
   margin-left: 24px;
}

.search-form {
   display: flex;
   display: inline-flex;
   justify-content: space-between;
   margin-left: 50px;
   position: relative;
}

.search-form-txt {
   border: none;
   width: 350px;
   height: 30px;
   font-size: 18px;
   margin: 0 auto;
   border: solid 1px #ccc;
   border-radius: 10px;
   padding: 0px 20px;
}

.search-form-btn {
   border: none;
   position: absolute;
   right: 20px;
   top: 2px;
}

.search-form-btn #search-icon {
   background-color: white;
   color: grey;
}

.right-side {
   display: flex;
   align-items: center;
}

.nav-list {
   display: flex;
   margin-right: 30px;
}

.nav-item {
   margin-right: 70px;
   list-style-type: none;
   list-style: none;
}
.nav-link {
   text-decoration: none;
   font-size: 14px;
   line-height: 21px;
   text-align: center;
   display: block;
   color: #ffffff;
   position: relative;
}

.nav-link::after {
   content: '';
   height: 4px;
   width: 100%;
   background: #2a2c3d;
   position: absolute;
   left: 0px;
   bottom: -13px;
   opacity: 0;
   transition: all 0.2s;
   pointer-events: none;
}

.nav-link:hover::after {
   opacity: 1;
}
